<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>

<h1>Add new Book</h1>

<form action="#" th:action="@{/books/all}" th:object="${bookToAdd}" method="post">

  <div><input type="text" th:field="*{title}"></div>
  <div><input type="text" th:field="*{author}"></div>
  <div><input type="number" th:field="*{yearOfPublication}"></div>
  <div><input type="submit" value="Submit"></div>

</form>

</body>
</html>